<h4> Login </h4>

<div class="row">
  <div class="col-md-6">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label "Email" %>
      <%= f.text_field :email, class: 'form-control' %>
      <%= f.label "Password" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Login", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
