<div class="container">
  <h3 class="page-title">Update Robot </h3>

  <div class="row">
    <div class="col-md-6">
      <%= form_for @robot do |f| %>
        <%= f.label "Enter designation" %>
        <%= f.text_field :designation, class: "form-control" %>

        <% if @robot.inventory == false %>
        <%= f.radio_button :inventory, true, class: "form-check-input"  %>
          <%= f.label "I have taken command of this robot." %><br>

        <% end %>

        <%= f.submit "Save changes", class: "btn btn-primary edit-btn"  %>
      <% end %>
    </div>
  </div>
</div>
