<h4>Update Robot </h4>
<div class="row">
  <div class="robot-tinker">
    <%= form_for @robot do |f| %>
      <%= label_tag(:designation, "Designation") %>
      <%= text_field_tag(:designation, @robot.designation) %>
      <%= radio_button_tag(:inventory, "false") %>
      <%= label_tag(:inventory_false, "This robot is being constructed") %>
      <%= radio_button_tag(:inventory, "true") %>
      <%= hidden_field_tag(:id, @robot.id) %>
      <%= label_tag(:inventory_true, "This robot is within my control") %>
      <%= submit_tag ("Save changes") %>
    <% end %>
  </div>
</div>

