<h4>Update Robot </h4>
<div class="row">
  <div class="robot-tinker">
    <%= form_for @robot do |f| %>
      <%= label_tag(:designation, "Enter designation") %>
      <%= text_field_tag(:designation, @robot.designation) %>
      <%= hidden_field_tag(:id, @robot.id) %>
      <% if @robot.inventory == true %>
        <%= hidden_field_tag(:inventory, "true") %>
      <% end %>
      <% if @robot.inventory == false %>
        <%= radio_button_tag(:inventory, "true") %>
        <%= label_tag(:inventory_true, "I have taken command of this robot.") %>
      <% end %>
      <%= submit_tag ("Save changes") %>
    <% end %>
  </div>
</div>

