<div class="container">
  <div class="well">
    <h2 class="page-title">Robot <strike>Army</strike> Peaceful Gathering</h2>
    <div> <%= link_to "Place Order", manufacturers_path, class: "btn btn-primary" %> </div>
  </div>

  <div class="container well">
    <h4>Inventory:</h4>
    <% @inventory_robots.each do |robot| %>
      <% if robot.user_id == User.first.id %>
        <div class="col-md-6 model-list">
          <%= link_to robot_path(robot) do %>
            <ul class="list-group-item" style="list-style: none;">
              <li><strong>Designation: </strong><%= robot.designation %></li>
              <li><strong>Model: </strong><%= robot.model.model_designation %></li>
              <li><strong>Price: </strong><%= double_the_dollar(robot.model.price) %></li>
            </ul>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="container well">
    <h4>Ordered Robots:</h4>
    <% @ordered_robots.each do |robot| %>
      <% if robot.user_id == User.first.id %>
        <div class="col-md-6 model-list">
          <%= link_to robot_path(robot) do %>
            <ul class="list-group-item" style="list-style: none;">
              <li><strong>Designation: </strong><%= robot.designation %></li>
              <li><strong>Model: </strong><%= robot.model.model_designation %></li>
              <li><strong>Price: </strong><%= double_the_dollar(robot.model.price) %></li>
            </ul>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="container well">
    <h4>Customer Orders:</h4>
    <% @sold_robots.each do |robot| %>
      <% if robot.user_id != User.first.id %>
        <div class="col-md-6 model-list">
          <%= link_to robot_path(robot) do %>
            <ul class="list-group-item" style="list-style: none;">
              <li><strong>Designation: </strong><%= robot.designation %></li>
              <li><strong>Model: </strong><%= robot.model.model_designation %></li>
              <li><strong>Price: </strong><%= double_the_dollar(robot.model.price) %></li>
              <li><strong>Shipped to: </strong><%= robot.user.username %></li>
              <li><strong>Shipping Address: </strong><%= robot.user.address %></li>
            </ul>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
