
<% if @robot != nil %>
  <div class="robo-top">

    <h2>Robot</h2>
    <% if @robot.inventory == true %>
      <p><%= link_to 'Edit', edit_robot_path %></p>
      <p><%= link_to 'Delete', @robot, method: :delete %></p>
    <% else %>
      <p><%= link_to 'Cancel order', @robot, method: :delete %></p>
    <% end %>
  </div>
  <ul class="robo-deets">
    <li>
      <strong>Designation:</strong> <%=@robot.designation %>
    </li>
    <li>
      <strong>Current status:</strong> <%= @robot.inventory_status %>
    </li>
    <li>
      <strong>Model_no.:</strong> <%= @robot.model.model_designation %>
    </li>
    <li>
      <strong>Height:</strong> <%= @robot.model.height %> yards
    </li>
    <li>
      <strong>Weight:</strong> <%= @robot.model.weight %> tons
    </li>
    <li>
      <strong>Manufactured by:</strong> <%= @robot.model.manufacturer.name %>
    </li>
  </ul>

  <% if @robot.inventory_status == "Ordered" %>
    <%= link_to 'Move to Inventory', edit_robot_path %>
  <% end %>
<% else %>
  <h1>The robot you seek does not exist within your current timeline.</h1>
<% end %>
