<div class="Robo-top">
  <h1>Robot</h1><p><%= link_to 'Edit', edit_path %></p><p><%= link_to 'Delete', delete_path, method: :delete %></p>
</div>
 <ul class="Robo-deets">
    <li>
      <%= @robot.manufacturer %>
    </li>
    <li>
      <%= @robot.height %>
    </li>
    <li>
      <%= @robot.weight %>
    </li>
    <li>
      <%= @robot.designation %>
    </li>
    <li>
      <%= @robot.model_no %>
    </li>
    <li>
      <%= @robot.inventory_status %>
    </li>
 </ul>

 <% if robot.inventory == false %>
 <%= link_to 'Move to Inventory', edit_path %>
 <% end %>
