<div class="container">
  <ul class="list-inline">
    <% if @robot != nil %>
    <li><h3 class="page-title">Robot Specifications</h3></li>
    <% if @robot.inventory == true %>
      <li><%= link_to 'Edit', edit_robot_path %></li>
      <li><%= link_to 'Delete', @robot, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Cancel Order', @robot, method: :delete %></li>
    <% end %>
  </ul>

  <ul class="robo-deets">
    <li>Designation: <%=@robot.designation %></li>
    <li>Current status: <%= @robot.inventory_status %></li>
    <li>Model_no: <%= @robot.model.model_designation %></li>
    <li>Height: <%= @robot.model.height %> yards</li>
    <li>Weight: <%= @robot.model.weight %> tons</li>
    <li>Manufactured by: <%= @robot.model.manufacturer.name %></li>
  </ul>

  <% if @robot.inventory_status == "Ordered" %>
    <h5 id="inventory"><%= link_to 'Move to Inventory', edit_robot_path %></h5>
    <% end %>
  <% else %>
    <h3>The robot you seek does not exist within your current timeline.</h3>
  <% end %>

  <h4 id=inventory-link><%= link_to "Back to Inventory", robots_path %></h4>
</div>
