<div class="container">
  <h3>Make Your Purchase</h3>
  <ul class="list-inline">
    <% if @robot != nil %>
    <li><h4 class="page-title">Robot Specifications</h4></li>
  </ul>

  <ul class="robo-deets" style="list-style: none;">
    <li>Designation: <%=@robot.designation %></li>
    <li>Manufactured by: <%= @robot.model.manufacturer.name %></li>
    <li>ModelNo: <%= @robot.model.model_designation %></li>
    <li>Height: <%= @robot.model.height %> yards</li>
    <li>Weight: <%= @robot.model.weight %> tons</li>
    <li>Price: <%= double_the_dollar(@robot.model.price) %></li>
  </ul>

  <% end %>
  <br>
  <%= link_to "BUY", new_purchase_path, class: "btn btn-success btn-lg btn-buy" %>

</div>
