<div class="list-group">
  <h4>Click a Model to Order</h4>
  <div class="container">
    <% @manufacturers.each do |manufacturer| %>
      <h4 class="manufacturer"><%= manufacturer.name %></h4>
			
      <% manufacturer.models.each do |model| %>
      	
	      <div class="col-md-4 model-list">
	         <%= link_to model_robots_path(model), method: :post do %>
	           <ul class="list-group-item" style="list-style: none;">
	             <li><strong>Model Name:</strong> <%= model.model_designation %></li>
	             <li><strong>Height:</strong> <%= model.height %> yards</li>
	             <li><strong>Weight:</strong> <%= model.weight %> tons</li>
	             <li><strong>Price:</strong> <%= model.price %> schmeckels</li>
	           </ul>
	         <% end %>
	      </div>
    	<% end %>
    <% end %>
  </div>
</div>
