<div class="container">

  <h1><%= @manufacturer.name %></h1>

  <hr>
  <h3>Click model to order</h3>

  <h4>List of Models:</h4>
  <div class="list-group">
    <% @manufacturer.models.each do |model| %>
      <div class="col-md-4 model-list">
         <%= link_to model_robots_path(model) do %>
           <ul class="list-group-item" style="list-style: none;">
             <li><strong>Model Name:</strong> <%= model.model_designation %></li>
             <li><strong>Height:</strong> <%= model.height %> yards</li>
             <li><strong>Weight:</strong> <%= model.weight %> tons</li>
           </ul>
         <% end %>
      </div>
    <% end %>
  </div>
</div>
