<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= double_the_dollar(@robot.model.price) %> </span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Model <%=@robot.model.model_designation%>"
          data-amount="<%=convert_to_stripe_price(@robot.model.price)%>"
          data-locale="auto"></script>
          <%= submit_tag "Checkout", class: 'btn btn-primary' %>
<% end %>


