<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <% if session_logged_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li id=title><%= link_to "Inventory", robots_path %></li>
        <li id=title><%= link_to "New Order", manufacturers_path %></li>
        <li> <%= link_to "Profile", user_path(session_current_user) %> </li>
        <li> <%= link_to "Log out", logout_path, method: :delete %> </li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li id=title><%= link_to "PSKLMRFI", robots_path %></li>
      </ul>
    <% end %>
  </div>
</nav>
